</head>
<body>
    <main id="main">
        <h1 id="title">Kaosara Ade</h1>
        <link rel="stylesheet" href="/styles.css">
        <ul>
            <li> <a href= "/" >Blogs</a></li>
            <li> <a href= "/movies" >Movies Tunnel</a></li>
        <li> <a href= "/objectsofquotes" >Positive Chamber</a></li>
            </ul>   
        
        <h2> UNDER CONSTRUCTION!!!! </h2>

            
    </main>
</body>
</html>