</head>
<body>
    <main id="main">
        <h1 id="title">Teams</h1>
        <link rel="stylesheet" href="/styles.css">

        

            <% if (teams.length > 0) { %>
                <% for (let team of teams) { %>
                    <h2><%= team %></h2>
                <% } %>
            <% } %>

   
    </main>
</body>
</html>