</head>
<body>
    <main id="main">
        <h1 id="title">Movies</h1>

        

            <% if (movies.length > 0) { %>
                <% for (let movie of movies) { %>
                    <h2><%= movie.movie_name %></h2>
                <% } %>
            <% } %>

   
    </main>
</body>
</html>