</head>
<body>
    <main id="main">
        <h1 id="title">Positive Vibes!!</h1>
        <link rel="stylesheet" href="/styles.css">

        <ul>
            <li><a href= "/" >Blogs</a></li>
            <li> <a href= "/about" >About Kaosara</a></li>
            <li> <a href= "/movies" >Movies Tunnel</a></li>
            <li> <a href= "/objectsofquotes" >Positive Chamber</a></li>
            
                </ul>
        

            <% if (quotes.length > 0) { %>
                <% for (let quote of quotes) { %>
                    <h2><%= quote.title %></h2>
                    <p><%= quote.snippet %></p>
                <% } %>
            <% } %>  

            
            
        
    </main>
</body>
</html>